<%- include('CommonTemplates/PageStart.ejs') %>
    <title>NodeProj | Home</title>
    <%- include('CommonTemplates/MidNavigation.ejs') %>

    <div class="container">
        <% if(books.length > 0){  %>
            <div class="card-columns">
                <% for(const book of books){ %>
                    <div class="card border-info">
                        <div class="card-body">
                            <h4 class="card-title"><%=book.name%></h4>
                            <h6 class="card-subtitle text-muted">&#8377; <%=book.cost%> </h6>
                            <p class="card-text">  <%=book.description%> </p>
                            <button class="btn btn-outline-info">Add to cart</button>
                        </div>
                    </div>
                <%} %>
            </div>
        <%} else{ %>
            <h2>No books available.</h2>
        <% } %>
    </div>
    
    <%- include('CommonTemplates/PageEnd.ejs') %>